/* Block.css */
.block-container {
    position: relative;
  }
  
  .backdrop-image {
    width: 100%;
    height: 753px; /* Adjust the height as per your requirement */
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  
  .content {
    position: absolute;
    bottom: 50px;
    left: 50px; 
    right: 50px; 
    color: #fff;
    text-align: center;
  }
  
  /* Custom CSS for dots */
  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .owl-dot {
    background: transparent; /* Set the background to transparent for all dots */
    border: 2px solid #ffffff; /* Set the border to white for all dots */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .owl-dot.active {
    background: #fff; /* Change the background to white for the active dot */
  }
  