.slick-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-container h2 {
  position: relative;
  z-index: 1;
  font-weight: 100;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.slick-container img {
  width: 70%;
  display: block;
  margin: 20px auto;
}
